:root {
  --color-bg-body:#ffff;
  --color-text-primary: #2E7D32;
    --color-text-primary-blue:#035da6;
  --color-text-blackandWhite:#000000;
  --color-cards-products:#D1D5DB;
  --border-cards-products:#6e6f70;
  --color-text-blue-primary:#0160AA; 
}

.dark {
  --color-bg-body:#313030;
  --color-text-primary: #a5d6a7;
  --color-text-primary-blue:#0e7ad2;
  --color-text-blackandWhite:#ffffff;
  --color-cards-products:#626161;
  --border-cards-products:#dadadb;
  --color-text-blue-primary:#4da0df; 

}
