---
import Navbar from '../components/Navbar.astro';
import Carousel from '../components/Carousel.jsx';
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Fertilizantes - Landing</title>
	<link rel="icon" href="/logo.ico" />
  </head>
  <body class="bg-[var(--bg-primary)] text-[var(--color-text-primary)] transition-colors duration-500 relative">
    <Navbar />

    <main class="pt-20"> {/* padding-top para no tapar contenido con navbar fixed */}
      <Carousel client:load /> {/* React se carga en cliente */}
    </main>

    <style>
      :global(body) {
        margin: 0;
        padding: 0;
      }
	  
    </style>
  </body>
</html>
