---
import Navbar from '../components/Navbar.astro';
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Fertilizantes - Landing</title>
  </head>
  <body class="bg-white">
    <Navbar />



    <style>
      :global(body) {
        margin: 0;
        padding: 0;
      }
    </style>
  </body>
</html>
