---
// Componente Cards.astro (puedes ponerle el nombre que quieras)

---

<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-15xl px-6 lg:px-8">
        <dl
            class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">

            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                
                <dt class="text-base/7 text-gray-600">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Temporibus, modi in! Vel officia eius consequatur quasi!
                    Sequi laudantium possimus ea cum maiores eos autem rerum
                    unde? Id cumque corrupti nihil!
                </dt>
                
                <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
                    Mision
                </dd>
                
            </div>
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                <dt class="text-base/7 text-gray-600">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
                    facilis quae impedit est similique facere quasi nulla
                    deserunt porro error architecto natus fugit, eos perferendis
                    sint maiores alias nihil eveniet.
                </dt>
                <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
                    Vision
                </dd>
            </div>
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                <dt class="text-base/7 text-gray-600">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Possimus accusamus, optio harum est inventore, quam quod et
                    excepturi odit tenetur consequatur sunt. Deserunt, dicta
                    quis sapiente optio tenetur minima accusantium.
                </dt>
                <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
                    Politicas
                </dd>
            </div>
        </dl>
    </div>
</div>
